// Colors 
$cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$grayish-blue: hsl(227, 10%, 46%);
$gray: hsla(0, 0%, 59%, 0.3);

// Font Stack
$primary-font: 'Kumbh Sans', sans-serif;

// Breakpoints
$bp-tablet: 35.5556em; // 640px when base font-size is 18px
$bp-desktop: 80em; // 1440px when base font-size is 18px 
